/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
/************* header bknic **********/
.border-top {
  height: 10px;
  background: url("/bknic-theme/css/../images/bg-banner-sm.jpg"); }

#banner {
  height: 150px; }

#banner-left {
  float: left; }

#banner-left img {
  height: 110px;
  margin-top: 20px; }

#banner-right {
  float: right; }

#banner-right .top-links {
  float: right;
  padding-top: 50px; }

.search {
  position: absolute;
  right: 0;
  top: 2px;
  padding-top: 90px; }

#button {
  margin-top: -11px;
  height: 24px;
  background-color: #9c0a0a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 100px;
  border: none; }

/************* end header **********/
/************* Begin Body **********/
#wrapper {
  margin: 0 auto;
  position: relative;
  width: 980px;
  padding: 0;
  max-width: 980px;
  font-family: Arial;
  font-size: 13px; }

/************* End Body **********/
/************* menu **********/
#menu {
  height: 35px;
  width: 100%;
  background: #8f120d none repeat scroll 0% 0%; }

#navigation ul {
  list-style-type: none;
  width: 980px;
  padding: 0px;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 6px;
  font-weight: bold; }

#navigation {
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 4;
  color: white; }

#navigation ul li {
  text-align: center;
  font-size: 14px;
  list-style: none;
  margin-left: 1.7%;
  padding: 0.55em 1em;
  border-top: 0;
  display: inline;
  float: left;
  position: relative;
  background: none;
  border-top: none; }

#navigation li a {
  color: white; }

#navigation ul li:hover .child-menu {
  display: block; }

/*--child-menu--*/
#navigation .child-menu {
  position: absolute;
  display: none; }

#navigation li:hover .child-menu {
  display: block;
  height: auto;
  background: #8f120d;
  box-shadow: none; }

.child-menu .child-menu-1 {
  display: none; }

.child-menu {
  z-index: 3 !important;
  margin-top: 8px !important;
  width: 208px !important;
  display: block;
  background: #8f120d;
  margin-left: -14px !important; }

.child-menu li {
  text-align: justify !important;
  padding-left: 5px !important;
  padding-right: 2px !important;
  height: auto;
  text-transform: none;
  font-size: 12px;
  width: 200px !important; }

.child-menu ul li:hover {
  display: block; }

.child-menu li a {
  font-weight: normal !important;
  text-align: center; }

.child-menu-1 {
  margin-left: 202px !important;
  margin-top: -27.5px !important;
  text-transform: None !important;
  background: #8f120d;
  width: 207.7px !important; }

#navigation li {
  list-style: none;
  height: auto; }

#navigation li, #navigation li a:hover, #navigation li a:focus {
  text-decoration: none; }

#navigation .child-menu {
  position: absolute;
  display: none; }

#navigation .child-menu li:hover ul {
  display: block;
  height: auto; }

#navigation .child-menu .child-menu-1 {
  position: absolute;
  display: none;
  float: left;
  height: auto; }

#navigation .child-menu .child-menu-1 li:hover ul {
  display: block; }

.child-menu li:hover {
  display: block;
  background: #6e1111;
  height: auto;
  box-shadow: none; }

#menu li:hover,
#menu .active {
  background: #6e1111; }

/*---//child-menu---*/
#navigation li:hover {
  display: block;
  height: auto; }

.child-menu .child-menu-1 {
  display: none; }

/************* end menu **********/
/************* begin content **********/
#content {
  font-size: 13px;
  color: #000; }

.portlet-title-text {
  color: #DB3737;
  font-size: 16px; }

/************* End Content **********/
/************* Begin Footer **********/
#footer {
  width: 100%;
  margin: -20px auto auto;
  background: transparent url("/bknic-theme/css/../images/footer.jpg") repeat-x scroll 49% 50%;
  height: 287px;
  color: #FFF;
  font: 14px "Calibri"; }

#wrapper-footer {
  width: 90%;
  margin: auto;
  padding-top: 40px; }

#wapper-title-left {
  width: 50%;
  float: left;
  height: 100%; }

#wapper-title-left .bando {
  float: left;
  width: 48%; }

#wapper-title-left .mangxahoi {
  float: left;
  width: 48%;
  margin-left: 4%; }

#wapper-title-left .mangxahoi ul {
  list-style: none; }

.mangxahoi ul {
  margin-left: -0.5%; }

#wapper-title-left .mangxahoi ul li {
  display: inline; }

#wapper-title-right {
  width: 45%;
  float: left;
  height: 100%;
  margin-left: 40px;
  line-height: 10px; }

/************* End Footer **********/
/******* begin Portlet *********/
#content a {
  color: #000; }

#content ul li {
  background: url("/bknic-theme/css/../images/right-arrow.png") no-repeat 0 12px;
  margin: 0;
  padding: 5px 0 5px 14px;
  list-style-type: none;
  border-top: 1px solid #ccc; }

.aui h1, .aui h2 {
  font-size: 16px !important;
  line-height: 30px !important;
  margin-bottom: -5px;
  margin-left: 10px; }

.aui h3 {
  font-size: 14px !important;
  color: #555 !important; }

.aui h4 {
  font-size: 16px;
  font-weight: normal; }

.title-list img,
.portlet-topper img,
.asset-title img {
  display: none; }

.portlet-body {
  margin-bottom: -20px; }

/******* end Portlet *********/
/******* begin layout *********/
#layout-column_column-1,
#layout-column_column-12 {
  background: #e1e1e1 !important; }

.asset-content {
  margin-top: -5px;
  margin-bottom: -10px !important; }

.asset-summary {
  margin-top: 10px; }

.asset-more a {
  color: #DB3737 !important; }

.asset-abstract {
  margin-bottom: -1em !important; }

.layout-content {
  margin-top: 20px; }

/******* end layout *********/

